html{
    /* betutipus */
}

body{
    background-color: lightgray;
}

h1{
    text-align: center;
    color: white;
    padding: 40px 0px;
    text-shadow: whitesmoke 1px 0 10px;
}

#koronaHatter{ 
    background-image: url(../Kepek/korona.jpg);
    background-position: center;
    opacity: 75%;
    height: 150px;
}

.row div{
    background-color: rgb(109, 103, 103);
    margin: 10px;
    color: white;
}

.col-3{
    margin: 10px 10px;
    height: fit-content;
    padding: 10px;
}

table tr td{
    border: 2px solid black;
    width: 100%;
}