html{
    /* betutipus */

}

body{
    background-color: lightgray;
    padding: 1em;
}

h1{
    text-align: center;
    color: white;
    padding: 40px 0px;
    text-shadow: whitesmoke 1px 0 10px;
}

h2{
    text-decoration: underline black 5px dotted;
}

#koronaHatter{ 
    background-image: url(../Kepek/korona.jpg);
    background-position: center;
    opacity: 75%;
    height: 150px;
}

.row div{
    background-color: rgb(109, 103, 103);
    color: white;
    border: 3px dotted darkgray;
}

table tr td{
    border: 2px solid black;
    width: 100%;
}

@media screen and (max-width: 320px) {
    
    #eltunes{
        display: none;
    }

}