html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgray;
    padding: 1em;
}

h1{
    background-color: rgba(0, 0, 0, 30%);
    text-align: center;
    color: white;
    padding: 40px 0px;
    text-shadow: black 1px 0 3px;
    height: 150px;
}

h2{
    text-decoration: underline black 5px dotted;
}

#koronaHatter{ 
    background-image: url(../Kepek/korona.jpg);
    background-position: center;
    opacity: 75%;
    height: 150px;
}

.row div{
    background-color: rgb(109, 103, 103);
    color: white;
    border: 3px dotted darkgray;
}

table tr td{
    border: 2px solid black;
    width: 100%;
}

@media screen and (max-width: 320px) {
    
    #eltunes{
        display: none;
    }

}